In [1]:
import csv
import numpy as np
import pandas as pd

import seaborn as sns


from itertools import groupby
from matplotlib import pyplot as plt
from pandas import DataFrame

In [2]:
### Loop the data lines
with open("output.csv", 'r') as temp_f:
    # get No of columns in each line
    col_count = [ len(l.split(",")) for l in temp_f.readlines() ]

### Generate column names  (names will be 0, 1, 2, ..., maximum columns - 1)
column_names = [i for i in range(0, max(col_count))]

### Read csv
df = pd.read_csv("output.csv", header=None, delimiter=",", names=column_names)

In [3]:
df=df.drop([0,1,2], axis = 1)

In [4]:
df=df.drop([0], axis = 0)

In [5]:
df[3] = pd.to_numeric(df[3], downcast="float")

In [6]:
df[4] = pd.to_numeric(df[4], downcast="float")

In [9]:
dft= df[[4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54]].copy()

In [11]:
dft.head()

,4,6,8,10,12,14,16,18,20,22,...,36,38,40,42,44,46,48,50,52,54
1,0.0,190.0,90.0,28.0,28.0,224.0,17.0,28.0,61.0,121.0,...,61.0,40.0,21.0,171.0,87.0,NaN,NaN,NaN,NaN,NaN
2,0.0,210.0,92.0,29.0,37.0,25.0,190.0,34.0,31.0,187.0,...,28.0,108.0,22.0,220.0,NaN,NaN,NaN,NaN,NaN,NaN
3,0.0,224.0,161.0,86.0,23.0,100.0,55.0,24.0,54.0,63.0,...,47.0,41.0,19.0,32.0,35.0,42.0,186.0,202.0,185.0,NaN
4,0.0,175.0,114.0,26.0,284.0,236.0,699.0,330.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0.0,226.0,38.0,92.0,235.0,254.0,633.0,260.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
dft.columns=['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26']

In [14]:
dft.head()

,1,2,3,4,5,6,7,8,9,10,...,17,18,19,20,21,22,23,24,25,26
1,0.0,190.0,90.0,28.0,28.0,224.0,17.0,28.0,61.0,121.0,...,61.0,40.0,21.0,171.0,87.0,NaN,NaN,NaN,NaN,NaN
2,0.0,210.0,92.0,29.0,37.0,25.0,190.0,34.0,31.0,187.0,...,28.0,108.0,22.0,220.0,NaN,NaN,NaN,NaN,NaN,NaN
3,0.0,224.0,161.0,86.0,23.0,100.0,55.0,24.0,54.0,63.0,...,47.0,41.0,19.0,32.0,35.0,42.0,186.0,202.0,185.0,NaN
4,0.0,175.0,114.0,26.0,284.0,236.0,699.0,330.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0.0,226.0,38.0,92.0,235.0,254.0,633.0,260.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
dft1=dft.transpose()

In [16]:
dft1.head()

,1,2,3,4,5,6,7,8,9,10,...,5927,5928,5929,5930,5931,5932,5933,5934,5935,5936
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,190.0,210.0,224.0,175.0,226.0,249.0,127.0,235.0,17.0,101.0,...,69.0,58.0,2.0,4.0,NaN,NaN,12.0,NaN,NaN,NaN
3,90.0,92.0,161.0,114.0,38.0,149.0,114.0,108.0,4.0,26.0,...,NaN,NaN,4.0,11.0,NaN,NaN,2.0,NaN,NaN,NaN
4,28.0,29.0,86.0,26.0,92.0,326.0,170.0,55.0,NaN,19.0,...,NaN,NaN,16.0,32.0,NaN,NaN,4.0,NaN,NaN,NaN
5,28.0,37.0,23.0,284.0,235.0,618.0,137.0,90.0,NaN,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
for column in dft1.columns:
    dft1[column].fillna(dft1[column].mode()[0], inplace=True)

In [26]:
dft1.head(50)

,1,2,3,4,5,6,7,8,9,10,...,5927,5928,5929,5930,5931,5932,5933,5934,5935,5936
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,190.0,210.0,224.0,175.0,226.0,249.0,127.0,235.0,17.0,101.0,...,69.0,58.0,2.0,4.0,0.0,0.0,12.0,0.0,0.0,0.0
3,90.0,92.0,161.0,114.0,38.0,149.0,114.0,108.0,4.0,26.0,...,0.0,0.0,4.0,11.0,0.0,0.0,2.0,0.0,0.0,0.0
4,28.0,29.0,86.0,26.0,92.0,326.0,170.0,55.0,0.0,19.0,...,0.0,0.0,16.0,32.0,0.0,0.0,4.0,0.0,0.0,0.0
5,28.0,37.0,23.0,284.0,235.0,618.0,137.0,90.0,0.0,44.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,224.0,25.0,100.0,236.0,254.0,243.0,274.0,0.0,0.0,24.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,17.0,190.0,55.0,699.0,633.0,0.0,677.0,0.0,0.0,63.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,28.0,34.0,24.0,330.0,260.0,0.0,192.0,0.0,0.0,86.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,61.0,31.0,54.0,0.0,0.0,0.0,0.0,0.0,0.0,44.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,121.0,187.0,63.0,0.0,0.0,0.0,0.0,0.0,0.0,57.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,71.0,32.0,92.0,0.0,0.0,0.0,0.0,0.0,0.0,33.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,55.0,25.0,79.0,0.0,0.0,0.0,0.0,0.0,0.0,42.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,22.0,44.0,123.0,0.0,0.0,0.0,0.0,0.0,0.0,49.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,71.0,14.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,81.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,58.0,108.0,26.0,0.0,0.0,0.0,0.0,0.0,0.0,63.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,18.0,54.0,72.0,0.0,0.0,0.0,0.0,0.0,0.0,43.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,61.0,28.0,47.0,0.0,0.0,0.0,0.0,0.0,0.0,87.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,40.0,108.0,41.0,0.0,0.0,0.0,0.0,0.0,0.0,88.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,21.0,22.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0,50.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,171.0,220.0,32.0,0.0,0.0,0.0,0.0,0.0,0.0,127.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,87.0,25.0,35.0,0.0,0.0,0.0,0.0,0.0,0.0,162.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,28.0,25.0,42.0,0.0,0.0,0.0,0.0,0.0,0.0,139.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,28.0,25.0,186.0,0.0,0.0,0.0,0.0,0.0,0.0,290.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,28.0,25.0,202.0,0.0,0.0,0.0,0.0,0.0,0.0,44.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,28.0,25.0,185.0,0.0,0.0,0.0,0.0,0.0,0.0,44.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,28.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,44.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
dft2=dft1.pct_change()

In [22]:
dft2.head(20)

,1,2,3,4,5,6,7,8,9,10,...,5927,5928,5929,5930,5931,5932,5933,5934,5935,5936
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,NaN,NaN,inf,NaN,NaN,NaN
3,-0.526316,-0.561905,-0.281250,-0.348571,-0.831858,-0.401606,-0.102362,-0.540426,-0.764706,-0.742574,...,-1.0,-1.0,1.0,1.750000,NaN,NaN,-0.833333,NaN,NaN,NaN
4,-0.688889,-0.684783,-0.465839,-0.771930,1.421053,1.187919,0.491228,-0.490741,-1.000000,-0.269231,...,NaN,NaN,3.0,1.909091,NaN,NaN,1.000000,NaN,NaN,NaN
5,0.000000,0.275862,-0.732558,9.923077,1.554348,0.895706,-0.194118,0.636364,NaN,1.315789,...,NaN,NaN,-1.0,-1.000000,NaN,NaN,-1.000000,NaN,NaN,NaN
6,7.000000,-0.324324,3.347826,-0.169014,0.080851,-0.606796,1.000000,-1.000000,NaN,-0.454545,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,-0.924107,6.600000,-0.450000,1.961864,1.492126,-1.000000,1.470803,NaN,NaN,1.625000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,0.647059,-0.821053,-0.563636,-0.527897,-0.589258,NaN,-0.716396,NaN,NaN,0.365079,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1.178571,-0.088235,1.250000,-1.000000,-1.000000,NaN,-1.000000,NaN,NaN,-0.488372,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,0.983607,5.032258,0.166667,NaN,NaN,NaN,NaN,NaN,NaN,0.295455,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,-0.413223,-0.828877,0.460317,NaN,NaN,NaN,NaN,NaN,NaN,-0.421053,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,-0.225352,-0.218750,-0.141304,NaN,NaN,NaN,NaN,NaN,NaN,0.272727,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,-0.600000,0.760000,0.556962,NaN,NaN,NaN,NaN,NaN,NaN,0.166667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2.227273,-0.681818,-0.975610,NaN,NaN,NaN,NaN,NaN,NaN,0.653061,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,-0.183099,6.714286,7.666667,NaN,NaN,NaN,NaN,NaN,NaN,-0.222222,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,-0.689655,-0.500000,1.769231,NaN,NaN,NaN,NaN,NaN,NaN,-0.317460,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2.388889,-0.481481,-0.347222,NaN,NaN,NaN,NaN,NaN,NaN,1.023256,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,-0.344262,2.857143,-0.127660,NaN,NaN,NaN,NaN,NaN,NaN,0.011494,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,-0.475000,-0.796296,-0.536585,NaN,NaN,NaN,NaN,NaN,NaN,-0.431818,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,7.142857,9.000000,0.684211,NaN,NaN,NaN,NaN,NaN,NaN,1.540000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
dft1.to_csv(r'/Users/ashwinsaxena/Google Drive/Auction/PercChange_time2.csv')

In [32]:
range1 = [i for i in range(1,792)]
range2 = [i for i in range(793,1342)]
range3 = [i for i in range(1343,2453)]
range4=[i for i in range(2454,4029)]
range5=[i for i in range(4030,4049)]
range6=[i for i in range(4050,5936)]


file_name = '/Users/ashwinsaxena/Google Drive/Auction/PercChange_time2.csv'

perct_1_t = pd.read_csv(file_name, usecols=range1)
perct_2_t = pd.read_csv(file_name, usecols=range2)
perct_3_t = pd.read_csv(file_name, usecols=range3)
perct_4_t = pd.read_csv(file_name, usecols=range4)
perct_5_t = pd.read_csv(file_name, usecols=range5)
perct_6_t = pd.read_csv(file_name, usecols=range6)

In [33]:
perct_1_t.to_csv(r'/Users/ashwinsaxena/Google Drive/Auction/perct_1_t.csv')
perct_2_t.to_csv(r'/Users/ashwinsaxena/Google Drive/Auction/perct_2_t.csv')
perct_3_t.to_csv(r'/Users/ashwinsaxena/Google Drive/Auction/perct_3_t.csv')
perct_4_t.to_csv(r'/Users/ashwinsaxena/Google Drive/Auction/perct_4_t.csv')
perct_5_t.to_csv(r'/Users/ashwinsaxena/Google Drive/Auction/perct_5_t.csv')
perct_6_t.to_csv(r'/Users/ashwinsaxena/Google Drive/Auction/perct_6_t.csv')