In [1]:
import numpy as np
import matplotlib.pyplot as plt
import datetime

import gurobipy as gp
from gurobipy import GRB
from math import sqrt
from sklearn.svm import SVR
import pandas as pd
import numpy as np
import matplotlib
matplotlib.use('Agg')
import matplotlib.pyplot as plt

In [2]:
#importing data.csv file as a dataframe 
df= pd.read_csv('/Users/ashwinsaxena/Google Drive/QF/PortfolioOptimisation/data.csv',parse_dates=True,index_col="Date1")

In [117]:
# creating data frame with chosen columns
df1= df[['Amazon','AMD','Apple','Cisco','FB','Microsoft','Qualcomm','Starbuck','Tesla','ZNGA']]

In [118]:
Amazon= df[['ZNGA']]

In [119]:
new_data1 = Amazon.sort_index(ascending=True, axis=0)
new_data1.reset_index(level=0, inplace=True)
new_data=new_data1[['ZNGA']]
new_data.reset_index(level=0, inplace=True)
new_data

     index   ZNGA
0        0   9.33
1        1   9.18
2        2   9.11
3        3   9.10
4        4   9.05
..     ...    ...
247    247  10.40
248    248  10.49
249    249  10.36
250    250  10.40
251    251  10.31

[252 rows x 2 columns]

In [120]:
X = new_data.iloc[:,new_data.columns !='ZNGA']
Y= new_data['ZNGA']

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(X,Y,test_size=.75)

In [121]:
print(x_train.shape) #output: (1569, 6)
print(x_test.shape) #output: (524, 6) 
print(y_train.shape) #output: (1569,)
print(y_test.shape)

(63, 1)
(189, 1)
(63,)
(189,)

In [122]:
lr_model=LinearRegression()
lr_model.fit(x_train,y_train)

LinearRegression()

In [123]:
y_pred=lr_model.predict(x_test)
y_pred
AMZ= pd.DataFrame(y_pred,columns=['ZNGA_new'])
AMZ.head()

    ZNGA_new
0  10.335330
1   9.201569
2   9.873160
3  10.306444
4   9.707068

In [124]:
AMZ.to_csv('ZNGA_pred.csv')